
@{
    ViewData["Title"] = "Login";
    Layout = null;
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Callis</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Callis.styles.css" asp-append-version="true" />

    <style>
        html{
            height:100%;
        }
    </style>
    
</head>
<main class="container-fluid vh-100">
    <section class="row">
        <section class="d-sm-none d-md-block col-md h-100 vh-100 bg-dark">
        </section>
        <section class="col-md h-100 vh-100">
            <p>Hello1</p>

        </section>
    </section>
    
</main>

