
@{
    ViewData["Title"] = "Sign Up";
    Layout = null;
}
@model User;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Callis</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Callis.styles.css" asp-append-version="true" />

    <style>
        html{
            height:100%;
        }
    </style>
    
</head>
<body>

<main class="container-fluid vh-100">
    <section class="row">
        <section style="background-color: #D9D9D9" class="d-sm-none d-md-block col-md h-100 vh-100">
        </section>
        <section class="col-md h-100 vh-100 shadow">
            <aside class="text-center mt-5">
                <img width="100px" src="~/images/TaskImage.png"/>
            </aside>
            <aside style="margin: 0 auto" class="w-75 mt-5 d-flex gap-4 flex-column">
                <h4>Hello! Enter your information below</h4>

               <form method="POST" action="/UserController/SignUp" class="d-flex flex-column gap-4">
                    <input asp-for="Name" type="text" placeholder="Full Name" required style=" border:2px solid #ced4da; border-top:none; border-left:none; border-right:none" class="form-control"  />
                    <input asp-for="EmailAddress" type="email" required placeholder="Email Address" style=" border:2px solid #ced4da; border-top:none; border-left:none; border-right:none" class="form-control"  />
                    <input asp-for="PasswordHash" type="password" required placeholder="Password" style=" border:2px solid #ced4da; border-top:none; border-left:none; border-right:none" class="form-control" />
                    <a class="btn btn-primary" asp-route="newuser" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Sign Up</a>
                    <aside>
                        <a asp-controller="User" asp-action="Login">I already have an account</a>
                    </aside>
                </form>
               
                
            </aside>
           
        </section>
    </section>
    
</main>

  

    @if (ViewBag.Success == true || ViewBag.Success == false)
    {
        <div class="alert fixed-top alert-primary d-flex justify-content-between align-items-center" role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
            </svg>
            <div>
                @ViewBag.Message
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>